<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
  <div>
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }}
    {% if field.errors %}
    <ul>
      {% for error in field.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endfor %}
  <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
  <button type="submit">Регистрация</button>
</form>
</body>
</html>